.item-loja {
    width: 250px;
    background-color: #fff;
    border: 1px solid #eee;
    margin: 10px;
}

.item-loja img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.item-loja .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
.preco-item-loja {
    color: #757779;
}

