.navbar-container {
    display: flex;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 1px 1px 3px;
}

.navbar-links {
    width: 1000px;
    display: flex;
    margin: auto;
    list-style: none;
    padding-left: 0;
}

.navbar-links li {
    margin-right: 10px;
}

.navbar-links li a {
    text-decoration: none;
    color: #000;
}